---
import { withBase } from '../utils/paths';

interface Props {
  class?: string;
}
const { class: className = '' } = Astro.props;
---

<div class:list={['flex min-w-0 shrink-0 items-center', className]}>
  <img
    src={withBase('/logo.jpeg')}
    alt="Evolua Digital"
    class="h-12 w-auto max-w-[min(78vw,360px)] object-contain object-left sm:h-14 md:h-16 lg:h-[4.5rem]"
    width="520"
    height="120"
    loading="eager"
    decoding="async"
  />
</div>
